02.05.2023 Teacher - Piet
## COLLECTIONS ##

- A collection is a group of items that are stored together. Collections are used to organize and manage data in a more efficient way.
- There are various types of collections in Py, including lists, tuples, sets, dictionaries

### Lists:

A list is a linear collection of items that are ordered and changeable. Lists are created by enclosing a sequence of items within square brackets. For example:

# How to create an empty list?

In [1]:
my_list = [1, 2, 3, 4, 5]
my_list = []  # empty list
my_list = list() # another empty list

# How to get element by index:

In [11]:
my_list = [1, 2, 3, 4, 5]
my_list[2] # the index count starts at zero

3

## MUTABILITY ##

- Lists are mutable, which means you can mod their contents

In [12]:
my_list = [1, 2, 3, 4, 5]
my_list[2] = 6
print(my_list)

[1, 2, 6, 4, 5]

In [13]:
my_str = 'Bla'
my_str[2] = 'F' # Error because str are immutable

TypeError: 'str' object does not support item assignment

In [27]:
my_list = [1, 2, 3, 4, 5]
my_list2 = my_list
print(my_list)
print(my_list2)

(id(my_list), id(my_list2)) # id are same

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

(2704426767104, 2704426767104)

In [30]:
my_list2[0] = 'Hello'
my_list[1] = 'world'
print(my_list2)
print(my_list)

(id(my_list), id(my_list2)) # id doesn't change because it has same memory address

['Hello', 'world', 3, 4, 5]
['Hello', 'world', 3, 4, 5]

(2704426767104, 2704426767104)

In [28]:
my_list == my_list2 # True

True

### Tuples

- A tuple is similar to a list, but it is immutable, which means you cannot change its contents.

In [31]:
my_tuple = (1, 2, 3, 4 ,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [33]:
my_tuple[2] = 'hello' # TypeError, it's immutable

TypeError: 'tuple' object does not support item assignment

In [37]:
my_tuple = ('hello', 1, True, [1, 2, 3, 4])
print(my_tuple)
my_tuple[0:2]

('hello', 1, True, [1, 2, 3, 4])

('hello', 1)

In [38]:
my_tuple[3] # print index 3 of tuple to display list inside this tuple

[1, 2, 3, 4]

In [40]:
my_tuple[3][0] = 'Changed' # we can modify muttable elements inside of tuple
my_tuple

('hello', 1, True, ['Changed', 2, 3, 4])

# Loop over Lists

In [23]:
my_list = [1, 2, 3, 4, 5, 'hello', ('tuple', 'tuple')]
for x in my_list:
    print(x)

1
2
3
4
5
hello
('tuple', 'tuple')

In [24]:
for index in range(len(my_list)):
    print(my_list[index])

1
2
3
4
5
hello
('tuple', 'tuple')

In [27]:
my_tuple = ('hello', 1, True, [1, 2, 3, 4])
for item in my_tuple:
    print(item)

hello
1
True
[1, 2, 3, 4]

In [34]:
my_tuple = ('hello', 'world', True, [1, 2, 3, 4])

my_new_tuple = my_tuple[0:2]
print(my_new_tuple)

my_new_tuple = my_tuple[0:2] + (my_tuple[-1],) # Merge elements into tuples # need to separate by coma in the end ,
print(my_new_tuple)

('hello', 'world')
('hello', 'world', [1, 2, 3, 4])

In [54]:
my_tuple = ('hello', 1, True, [1, 2, 3, 4])
print(my_tuple[0:1])

my_new_tuple = my_tuple[0:1] + my_tuple[-1:]
my_new_tuple

('hello',)

('hello', [1, 2, 3, 4])

# 03.05.2023
# LISTS
-acces values by index
-slice
-find the index
-cound
-reverse
-sort
-append
-extend
-insert
-pop

In [39]:
my_list = [1,2,3, 'four', 5]
my_list

[1, 2, 3, 'four', 5]

In [40]:
print(my_list.index('four'))
my_list[3]

3

'four'

In [50]:
my_list = [1,2,3, 'four', 5]

for i in range(10):
    my_list.append(6)
print(my_list)

for i in range(9):
    my_list.remove(6)
print(my_list)

[1, 2, 3, 'four', 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]
[1, 2, 3, 'four', 5, 6]

In [51]:
my_list.count(6)

1

In [57]:
my_list = [1, 2, 3, 'four', 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]
my_list.index(6)

5

# the insert take 2 arguments:
- position of the value you want to insert
- the value you want to insert

In [59]:
my_list2 = [1,2,3,4]
my_list2.insert(4, 5)
my_list2

[1, 2, 3, 4, 5]

In [59]:
my_list2 = [1,2,3,4]

my_list2.reverse() # changing in place
print(my_list2)

my_new = my_list2.reverse() # Will return 'None' 
print(my_new)

[4, 3, 2, 1]
None

In [190]:
def myFunc(my_list3):
    my_list3[0] = 'CHANGED FIRST ELEMENT'
    return 'RETURN VALUE'

my_list4 = [1,2,3,4]


print(myFunc(my_list4))
print(my_list4)

RETURN VALUE
['CHANGED FIRST ELEMENT', 2, 3, 4]

In [175]:
def myFunc(my_list):
    my_list[0] = 'CHANGED FIRST ELEMENT'

my_list4 = [1,2,3,4]


print(myFunc(my_list4))
print(my_list4)

None
['CHANGED FIRST ELEMENT', 2, 3, 4]

In [61]:
my_list2[::-1] # returning a copy of the reversed version

[1, 2, 3, 4, 5]

In [197]:
my_list = [3,2,1,5,4]

print(my_list.sort()) # returns none

print(my_list)

None
[1, 2, 3, 4, 5]

In [198]:
my_list = [3,2,1,5,4]

print(sorted(my_list)) # returns the sorted version of the list

[1, 2, 3, 4, 5]

In [126]:
my_list = [1,2,3,'four', 5.0]

my_list.extend([6,7,8])

print(my_list)

my_new = my_list[:3] + [6,7,8] + my_list[3:] # returns a new extended list
print(my_new)

[1, 2, 3, 'four', 5.0, 6, 7, 8]
[1, 2, 3, 6, 7, 8, 'four', 5.0, 6, 7, 8]

In [112]:
my_new = my_list[::] + [6, 7, 8]

my_new

[1, 2, 3, 'four', 5.0, 6, 7, 8, 6, 7, 8]

In [122]:
def even(my_list):
    result = []
    for item in my_list:
        if item % 2 == 0:
            result.append(item)
    return result


my_even_list = even([1, 2, 3, 4, 5, 6])

my_even_list

[2, 4, 6]

In [199]:
test_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def even(lst):
    result = []
    for i in lst:
        if i % 2 == 0:
            result.append(i)
    return result

even(test_list)

[2, 4, 6, 8, 10]

## Problem

Problem: write a Py program that takes a list of strings and returns a new list containing the strings that have a length of 4 or more characters, capitalized.

In [220]:
my_list = ["apple", "banana", "cat", "dog", "elephant", "frog"]

def capitalize(lst):
    capitilized = []
    for item in lst:
        if len(item) > 4:
            capitilized.append(item.upper())
    return capitilized

capitalize(my_list)

['APPLE', 'BANANA', 'ELEPHANT']

## List Comprehension

- A quick way to build a sequence is using a list comprehension (listcomps).

In [ ]:
# Compare those two code snippets:

In [137]:
strings = ['Hello', 'world', 'again', 'bla']

length = []

for word in strings:
    length.append(len(word))

length

[5, 5, 5, 3]

In [222]:
strings = ['Hello', 'world', 'again', 'bla']

legth = ['BLUP' for word in strings]

legth

['BLUP', 'BLUP', 'BLUP', 'BLUP']

- A for loop can be used to do many different things: scanning, count or any number of other tasks.
- In contrast, a listcomp is more explicit. Its goal is always to build a new list.

In [223]:
strings = ['Hello', 'world', 'again', 'bla']

legth = [len(word) for word in strings]

legth

[5, 5, 5, 3]

## Mapping and Filtering with Listcomps

In [163]:
uppercase_words = [word.upper() for word in strings]

uppercase_words

['HELLO', 'WORLD', 'AGAIN', 'BLA']

# Lets look at nested links:

In [164]:
list_numbers = [[5, 6, 3], [8, 3, 1], [9, 10, 4], [8, 4, 2]]

list_numbers[0][0]

5

In [165]:
my_sums = [sum(nums) for nums in list_numbers]
my_sums

[14, 12, 23, 14]

In [224]:
list_numbers = [[5, 6, 3], [8, 3, 1], [9, 10, 4], [8, 4, 2]]

my_sums = [nums[0] + nums[1]  for nums in list_numbers]

my_sums

[11, 11, 19, 12]

In [3]:
my_sums = [max(nums) for nums in list_numbers]
my_sums

[6, 8, 10, 8]

In [5]:
strings = ['Hello', 'world', 'again', 'bla']

length_get_3 = [len(word) for word in strings if len(word) > 3]
length_get_3

[5, 5, 5]

In [6]:
length = [len(word) for word in strings]
length

[5, 5, 5, 3]

In [8]:
def capitalize_long_strings(lst):
    result = [item.upper() for item in lst if len(item) >= 5]
    return result

lst = ['apple', 'banana', 'cat', 'dog', 'elephant', 'frog']
capitalize_long_strings(lst)

['APPLE', 'BANANA', 'ELEPHANT']