# Lecture 5: Tuples, Lists, Aliasing, Mutability, and Cloning
# Description: In this lecture, Dr. Bell introduces compound data types, such as lists and tuples, and explains the concepts of aliasing, mutability, and cloning.

In [1]:
### TUPLES
# - An ordered sequence of elements, can mix element types
# - Cannot change element values, immutable
# - Represented with parantheses

te = () # empty tuple
t = (2, "mit", 3)
t[0] # evaluates to 2
(2, "mit", 3) + (5, 6) # evaluates to (2, "mit", 3, 5, 6)
t[1:2] # slice tuple, evaluates to ("mit",)
t[1:3] # slice tuple, evaluates to ("mit", 3)
len(t) # evaluates to 3
t[1] = 4 # gives error, can't modify

# Tuples conveniently used to swap variable values

In [ ]:
x = y     # wrong swap
y = x     # wrong swap

temp = x 
x = y     # correct
y = temp

(x, y) = (y, x) # correct

# Tuples can be used to return more than one value from a function

In [6]:
def quotient_and_remainder(x, y):
    q = x // y     # integer division
    r = x % y
    return (q,r)


(quot, rem) = quotient_and_remainder(4,5)

quotient_and_remainder(4,5)

(0, 4)

# MANIPULATING TUPLES

# Can iterate over tuples

aTuple: (( ), ( ), ( ))

In [8]:
def get_data(aTuple):
    nums = ()
    words = ()
    for t in aTuple:
        nums = nums + (t[0],)
        if t[1] not in words:
            words = words + (t[1],)
    min_n = min(nums)
    max_n = max(nums)
    unique_words = len(words)
    return (min_n, max_n, unique_words)


# apply to any data

tswift = ((2014, "Katy"),
          (2014, "Harry"),
          (2012, "Jake"),
          (2010, "Taylor"),
          (2008, "Joe"))

(min_year, max_year, num_people) = get_data(tswift)

print("From", min_year, "to", max_year, \
      "Taylor Swift wrote songs about", num_people, "people")

Form 2008 to 2014 Taylor Swift wrote songs about 5 people

In [9]:
my_list = [x for x in range(10) if x%2==0]
print(my_list)

[0, 2, 4, 6, 8]

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [11]:
my_list = [1,2,3, 'four', 5]
print(my_list[2:4] + my_list[-1])

TypeError: can only concatenate list (not "int") to list