In [9]:
import re

input_str = 'John Smith, 25 years old; John     Smith, 25 year old'

matches_str = re.findall('(John)', input_str)
print(matches_str)

output_str = re.sub('John Smith, 25 years', r"REPLACED_STR", input_str)
# matches the whole string and replaces it with REPLACE_STR
print(output_str)

output_str = re.sub('(John)', r"First name: \1", input_str)
print(output_str)

output_str = re.sub('(John)\s*(Smith)', r"First name: \1, surname: \2", input_str)
print(output_str)

['John', 'John']
REPLACED_STR old; John     Smith, 25 year old
First name: John Smith, 25 years old; First name: John     Smith, 25 year old
First name: John, surname: Smith, 25 years old; First name: John, surname: Smith, 25 year old

In [14]:
input_str = 'John Smith, 25 years old; Bob     Doe, 30 year old'

output_str = re.sub(r'[A-Za-z]+\s+[A-Za-z]+,', 'PLACEHOLDER', input_str)

print(output_str)

PLACEHOLDER 25 years old; PLACEHOLDER 30 year old

In [26]:
input_str = 'John Smith, 25 years old; Bob     Doe, 30 year old'

# output_str = re.sub(r'([A-Za-z]+)\s+[A-Za-z]+,', r'FIRST_N: \1 SUR_N: \2', input_str) # missing ()
output_str = re.sub(r'([A-Za-z]+)\s+([A-Za-z]+),', r'FIRST_N: \1 SUR_N: \2', input_str)

print(output_str)

FIRST_N: John SUR_N: Smith 25 years old; FIRST_N: Bob SUR_N: Doe 30 year old

In [28]:
def regex_group_helper(match):
    return f"FIRST_N: {match.group(1).upper()} SUR_N: {match.group(2).upper()}"


output_str = re.sub(r'([A-Za-z]+)\s+([A-Za-z]+),', regex_group_helper, input_str)

print(output_str)

FIRST_N: JOHN SUR_N: SMITH 25 years old; FIRST_N: BOB SUR_N: DOE 30 year old

In [29]:
output_str = re.sub(r'([A-Za-z]+)\s+([A-Za-z]+),', lambda match: f"F_N: {match.group(1).upper()}, S_N: {match.group(2).upper()}", input_str)

print(output_str)

F_N: JOHN, S_N: SMITH 25 years old; F_N: BOB, S_N: DOE 30 year old

In [50]:
my_dates_str = '01.02.2012 11.3.13 14.2.2023'   
formated_str = re.sub(r"\d{2}\.\d{1,2}\.\d{2,4}", "BLA", my_dates_str)
print(formated_str)

BLA BLA BLA

In [73]:
my_dates_str = '01.02.2012 11.3.13 14.2.2023'     # 02/01/2012 .....
#year from 2 to 4 digits
formatted_str1 = re.sub(r"(\d{2})\.(\d{1,2})\.(\d{2,4})", r"\2-\1-\3", my_dates_str)
print(formatted_str1)

02-01-2012 3-11-13 2-14-2023

In [88]:
my_dates_str = '01.02.2012 11.3.13 14.2.2023 14.3.333'     # 02/01/2012 .....
#year 2 or 4 digits (|)
formatted_str1 = re.sub(r"(\d{2})\.(\d{1,2})\.(\d{2}\b|\d{4}\b)", r"\2-\1-\3", my_dates_str)
print(formatted_str1)

02-01-2012 3-11-13 2-14-2023 14.3.333

In [74]:
my_dates_str = '01.02.2012 11.3.13 14.2.2023'     # 02/01/2012 .....
#year from 2 to 4 digits
formatted_str1 = re.sub(r"(\d{2})\.(\d{1,2})\.(\d{2,4})", r"\2-\1-\3", my_dates_str)
print(f'd{2,4}:', formatted_str1)

d(2, 4): 02-01-2012 3-11-13 2-14-2023